In [1]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
import pandas as pd

### Load dataset

In [2]:
df = pd.read_csv('final_dataset.csv', low_memory=False)

### Prepare dataset

In [3]:
df = df.drop(columns=['PEOPLE_DEATH_NEW_COUNT', 
                      'PEOPLE_POSITIVE_NEW_CASES_COUNT', 
                      'DAYS_AFTER_FIRST_DEATH', 
                      'DAYS_AFTER_FIRST_CASE',
                      'COUNTY_NAME',
                      'COUNTY_FIPS_NUMBER',
                      'PEOPLE_POSITIVE_CASES_COUNT',
                      'PROVINCE_STATE_NAME',
                      'DATA_SOURCE_NAME',
                      'COUNTRY_ALPHA_3_CODE',
                      'PEOPLE_DEATH_COUNT',
                      'ISO',
                      'CONTINENT_NAME'])

In [4]:
df = df.drop_duplicates()

In [5]:
br = df[df['COUNTRY_ALPHA_2_CODE'] == 'BR']

In [6]:
br = br.drop(columns=['COUNTRY_ALPHA_2_CODE', 'COUNTRY_SHORT_NAME'])

In [12]:
df = df[df['COUNTRY_ALPHA_2_CODE'] != 'BR']
df_to_kmeans = df.drop(columns=['COUNTRY_ALPHA_2_CODE', 'COUNTRY_SHORT_NAME'])

### Train kmeans

In [14]:
df_to_kmeans = df_to_kmeans.fillna(0)
df_to_kmeans = df_to_kmeans.replace('-', 0, regex=True)
df_to_kmeans = df_to_kmeans.replace(',', '', regex=True)

In [15]:
kmeans = KMeans(n_clusters=5, random_state=0).fit(df_to_kmeans)

In [16]:
df_to_kmeans['cluster']=kmeans.labels_

### Predict Cluster to BR

In [17]:
br_cluster = kmeans.predict(br)

In [21]:
df[df_to_kmeans['cluster'] == br_cluster[0]]

,COUNTRY_SHORT_NAME,COUNTRY_ALPHA_2_CODE,DAYS_BETWEEN_FIRST_CASE_AND_FIRST_DEATH,TOTAL_POPULATION,FERTILITY_RATE,PERCENT_POPULATION_AGED_10_24,PERCENT_POPULATION_AGED_15_64,PERCENT_POPULATION_AGED_65_OLDER,LIFE_EXPECTANCY
0,United States,US,39.0,329.1,1.9,20,65,16,80
378911,Bangladesh,BD,13.0,168.1,2,28,68,5,73
378914,Pakistan,PK,22.0,204.6,3.3,29,61,5,67
378952,Nigeria,NG,25.0,201,5.3,32,54,3,55
389435,Indonesia,ID,10.0,269.5,2.3,26,68,6,70